<div class="row">
  <div class="col-md-5">
    <form [formGroup]="this.userService.form" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="$key">
      <div class="form-group">
        <label>Name</label>
        <input formControlName="fullName" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.fullName.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.fullName.errors">
          This field is required.</div>
      </div>
      <div class="form-group">
        <label>Address</label>
        <input formControlName="address" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.address.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.address.errors">
          This field is required.</div>
      </div>
      <div class="form-group">
        <label>City</label>
        <input formControlName="city" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.city.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.city.errors">
          This field is required.</div>
      </div>
      <div class="form-group">
        <label>Pin</label>
        <input formControlName="pin" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.pin.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.pin.errors">
          <label *ngIf="formControls.pin.errors.required">This field is required.</label>
          <label *ngIf="formControls.pin.errors.minlength">Atleast 4 numbers.</label>
        </div>
      </div>
      <div class="form-group">
        <label>Country</label>
        <input formControlName="country" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.country.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.country.errors">
          This field is required.</div>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit">
      </div>
    </form>
    <div class="alert alert-info" *ngIf="showSuccessMessage">
      Submitted successfully.
    </div>
  </div>
  <div class="col-md-7">
    <app-user-list></app-user-list>
  </div>
</div>
